{% extends "base.html" %}
{% block title %}{{ SITENAME }}{% endblock %}

{% block canonical_rel %}
<link rel="canonical" href="{{ SITEURL }}">
{% endblock %}

{% block collapse_latest %}in{% endblock %}

{% block precontent %}
<section id="content" class="body">
    <div class="row">
        <div class="col-lg-9">
            <p>{{ SITESUBTITLE }}</p>
        </div>
    </div>
</section>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-9">
    {% if articles %}
        {% for article in (all_articles if all_articles else articles)[:RECENT_POST_COUNT] %}
            <article>
                <header class="page-header">
                    <h2>
                        <a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a>
                        {% include "include/article_info.html" %}
                    </h2>
                </header>
                <div class="summary">
                    {{ article.summary }}
                </div>
            </article>
            {% if not loop.last %}
            <hr/>
            {% endif %}
        {% endfor %}
        <div class="btn-more text-right">
            <a class="btn btn-default btn-xs" href="{{ SITEURL }}/{{ ARCHIVES_URL | default('archives.html') }}">
                查看所有文章 ...
            </a>
        </div>
    {% endif %}
    </div>
</div>
{% endblock %}


